[submodule "voting-backend/lib/forge-std"]
	path = voting-backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "on-chain/lib/forge-std"]
	path = on-chain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
